body {
    margin: 0;
    font-family: fantasy;

}

.topnav {
    overflow: hidden;
    background-color: rgb(0, 2, 3);
}

.topnav a {
    float: left;
    color: rgb(246, 244, 244);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
}

.topnav a:hover {
    background-color: rgb(250, 64, 64);
    color: rgb(8, 3, 3);
}

.topnav a.active {
    background-color: rgb(189, 21, 21);
    color: rgb(1, 6, 6);
}
.footer {
    background-color: rgb(189, 21, 21);
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}