body{
    margin: 0;
    font-family: fantasy;
    
}
.topnav{
    overflow: hidden;
    background-color: rgb(159, 204, 232);
}
.topnav a{
    float: left;
    color: rgb(244, 244, 246);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}
.topnav a:hover{
    background-color: rgb(160, 241, 241);
    color: rgb(47, 46, 46);
}
.topnav a.active{
    background-color: rgb(79, 79, 245);
    color: rgb(173, 192, 192);
}